{% load static %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 text-center">
            <h1>Hi There,</h1>
            <h1>I'm Zeeshan Afzal</h1>
            <h1>Web Developer</h1>
            <p class="lead">Based in Lahore</p>
        </div>
        <div class="col-md-6 col-lg-5 text-center">

            <img src="{% static 'image/pic.jpg' %}"
                 alt="Profile Image"
                 class="rounded-circle" width="150" height="150">

        </div>
    </div>
</div>